{% extends 'base/base.html' %}
{% load i18n %}
{% block content_header_title %}{% trans 'Persona' %}{% endblock %}
{% block content_header_roadmap %}
    <li><a href="{% url 'vivienda_lista' %}">{% trans 'Vivienda' %}</a></li>
    <li><a href="{% url 'grupo_familiar_lista' %}">{% trans 'Grupo Familiar' %}</a></li>
    <li><a href="{% url 'persona_lista' %}">{% trans 'Persona' %}</a></li>
    <li class="active">{% if not form.instance.pk %}{% trans 'Registro' %}{% else %}{% trans 'Actualizar' %}{% endif %}</li>
{% endblock %}
{% block contenido %}
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">{% if not form.instance.pk %}{% trans 'Registrar' %}{% else %}{% trans 'Actualizar' %}{% endif %}</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
	        <form action="" role="form" class="form form-horizontal validate-form" method="post" autocomplete="off">
            {% csrf_token %}
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="form-group {% if form.grupo_familiar.errors %}has-error{% endif %}">
                            <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.grupo_familiar.auto_id }}">
                                {{ form.grupo_familiar.label }}
                            </label>
                            <div class="col-md-9 col-xs-9 col-sm-9">
                                <div class="form-inline">
                                    {{ form.grupo_familiar }}
                                <i class="ion ion-ios-medical item-requerido"></i>
                            </div>
                                {% include 'base/form.errors.html' with form_errors=form.grupo_familiar.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.nombre.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.nombre.auto_id }}">
                                    {{ form.nombre.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">
                                        {{ form.nombre }}
                                        <i class="ion ion-ios-medical item-requerido"></i>
                                    </div>
                                    {% include 'base/form.errors.html' with form_errors=form.nombre.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.apellido.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.apellido.auto_id }}">
                                    {{ form.apellido.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">
                                        {{ form.apellido }}
                                        <i class="ion ion-ios-medical item-requerido"></i>
                                    </div>
                                    {% include 'base/form.errors.html' with form_errors=form.apellido.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.tiene_cedula.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.tiene_cedula.auto_id }}">
                                    {{ form.tiene_cedula.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">
                                        {{ form.tiene_cedula }}
                                    </div>
                                    {% include 'base/form.errors.html' with form_errors=form.tiene_cedula.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                        <div id="bloque_cedula">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="form-group {% if form.cedula.errors %}has-error{% endif %}">
                                    <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.cedula.auto_id }}">
                                        {{ form.cedula.label }}
                                    </label>
                                    <div class="col-md-9 col-xs-9 col-sm-9">
                                        <div class="form-inline">
                                            {{ form.cedula }}
                                        </div>
                                        {% include 'base/form.errors.html' with form_errors=form.cedula.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.telefono.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.telefono.auto_id }}">
                                    {{ form.telefono.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">
                                        {{ form.telefono }}
                                        <i class="ion ion-ios-medical item-requerido"></i>
                                    </div>
                                    <span style="font-size:12px">{{ form.telefono.help_text }}</span>
                                    {% include 'base/form.errors.html' with form_errors=form.telefono.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.correo.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.correo.auto_id }}">
                                    {{ form.correo.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">
                                        {{ form.correo }}
                                    </div>
                                    {% include 'base/form.errors.html' with form_errors=form.correo.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.sexo.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.sexo.auto_id }}">
                                    {{ form.sexo.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">
                                        {{ form.sexo }}
                                        <i class="ion ion-ios-medical item-requerido"></i>
                                    </div>
                                    {% include 'base/form.errors.html' with form_errors=form.sexo.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.fecha_nacimiento.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.fecha_nacimiento.auto_id }}">
                                    {{ form.fecha_nacimiento.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">
                                        <div class="input-group">
                                            {{ form.fecha_nacimiento }}
                                            <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                        </div>
                                        <i class="ion ion-ios-medical item-requerido"></i>
                                    </div>
                                    {% include 'base/form.errors.html' with form_errors=form.fecha_nacimiento.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.edad.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.edad.auto_id }}">
                                    {{ form.edad.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">
                                        {{ form.edad }}
                                        <i class="ion ion-ios-medical item-requerido"></i>
                                    </div>
                                    {% include 'base/form.errors.html' with form_errors=form.edad.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.parentesco.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.parentesco.auto_id }}">
                                    {{ form.parentesco.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">
                                        {{ form.parentesco }}
                                        <i class="ion ion-ios-medical item-requerido"></i>
                                    </div>
                                    {% include 'base/form.errors.html' with form_errors=form.parentesco.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.jefe_familiar.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.jefe_familiar.auto_id }}">
                                    {{ form.jefe_familiar.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">
                                        {{ form.jefe_familiar }}
                                    </div>
                                    <span style="font-size:12px">{{ form.jefe_familiar.help_text }}</span>
                                    {% include 'base/form.errors.html' with form_errors=form.jefe_familiar.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.estado_civil.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.estado_civil.auto_id }}">
                                    {{ form.estado_civil.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">
                                        {{ form.estado_civil }}
                                        <i class="ion ion-ios-medical item-requerido"></i>
                                    </div>
                                    {% include 'base/form.errors.html' with form_errors=form.estado_civil.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.grado_instruccion.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.grado_instruccion.auto_id }}">
                                    {{ form.grado_instruccion.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">
                                        {{ form.grado_instruccion }}
                                        <i class="ion ion-ios-medical item-requerido"></i>
                                    </div>
                                    {% include 'base/form.errors.html' with form_errors=form.grado_instruccion.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.mision_educativa.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.mision_educativa.auto_id }}">
                                    {{ form.mision_educativa.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">
                                        {{ form.mision_educativa }}
                                        <i class="ion ion-ios-medical item-requerido"></i>
                                    </div>
                                    {% include 'base/form.errors.html' with form_errors=form.mision_educativa.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.mision_social.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.mision_social.auto_id }}">
                                    {{ form.mision_social.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">
                                        {{ form.mision_social }}
                                        <i class="ion ion-ios-medical item-requerido"></i>
                                    </div>
                                    {% include 'base/form.errors.html' with form_errors=form.mision_social.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6 col-sm-6 col-xs-6">
                          <div class="form-group {% if form.profesion.errors %}has-error{% endif %}">
                              <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.profesion.auto_id }}">
                                  {{ form.profesion.label }}
                              </label>
                              <div class="col-md-9 col-xs-9 col-sm-9">
                                  <div class="form-inline">
                                      {{ form.profesion }}
                                  </div>
                                  {% include 'base/form.errors.html' with form_errors=form.profesion.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                              </div>
                          </div>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6">
                          <div class="form-group {% if form.ocupacion.errors %}has-error{% endif %}">
                              <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.ocupacion.auto_id }}">
                                  {{ form.ocupacion.label }}
                              </label>
                              <div class="col-md-9 col-xs-9 col-sm-9">
                                  <div class="form-inline">
                                      {{ form.ocupacion }}
                                  </div>
                                  {% include 'base/form.errors.html' with form_errors=form.ocupacion.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                              </div>
                          </div>
                      </div>
                  </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.lugar_trabajo.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.lugar_trabajo.auto_id }}">
                                    {{ form.lugar_trabajo.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">
                                        {{ form.lugar_trabajo }}
                                    </div>
                                    {% include 'base/form.errors.html' with form_errors=form.lugar_trabajo.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.ingreso.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.ingreso.auto_id }}">
                                    {{ form.ingreso.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">
                                        {{ form.ingreso }}
                                        <i class="ion ion-ios-medical item-requerido"></i>
                                    </div>
                                    {% include 'base/form.errors.html' with form_errors=form.ingreso.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.pensionado.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.pensionado.auto_id }}">
                                    {{ form.pensionado.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">
                                        {{ form.pensionado }}
                                    </div>
                                    {% include 'base/form.errors.html' with form_errors=form.pensionado.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.jubilado.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.jubilado.auto_id }}">
                                    {{ form.jubilado.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">
                                        {{ form.jubilado }}
                                    </div>
                                    {% include 'base/form.errors.html' with form_errors=form.jubilado.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.deporte.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.deporte.auto_id }}">
                                    {{ form.deporte.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">
                                        {{ form.deporte }}
                                    </div>
                                    {% include 'base/form.errors.html' with form_errors=form.deporte.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.enfermedad.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.enfermedad.auto_id }}">
                                    {{ form.enfermedad.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">
                                        {{ form.enfermedad }}
                                    </div>
                                    {% include 'base/form.errors.html' with form_errors=form.enfermedad.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.discapacidad.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.discapacidad.auto_id }}">
                                    {{ form.discapacidad.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">
                                        {{ form.discapacidad }}
                                    </div>
                                    {% include 'base/form.errors.html' with form_errors=form.discapacidad.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.ley_consejo_comunal.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.ley_consejo_comunal.auto_id }}">
                                    {{ form.ley_consejo_comunal.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">
                                        {{ form.ley_consejo_comunal }}
                                    </div>
                                    {% include 'base/form.errors.html' with form_errors=form.ley_consejo_comunal.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.curso.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.curso.auto_id }}">
                                    {{ form.curso.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">
                                        {{ form.curso }}
                                    </div>
                                    {% include 'base/form.errors.html' with form_errors=form.curso.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.organizacion_comunitaria.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.organizacion_comunitaria.auto_id }}">
                                    {{ form.organizacion_comunitaria.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">
                                        {{ form.organizacion_comunitaria }}
                                    </div>
                                    {% include 'base/form.errors.html' with form_errors=form.organizacion_comunitaria.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.ocio.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.ocio.auto_id }}">
                                    {{ form.ocio.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">
                                        {{ form.ocio }}
                                    </div>
                                    {% include 'base/form.errors.html' with form_errors=form.ocio.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.mejorar_comunicacion.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.mejorar_comunicacion.auto_id }}">
                                    {{ form.mejorar_comunicacion.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">
                                        {{ form.mejorar_comunicacion }}
                                    </div>
                                    {% include 'base/form.errors.html' with form_errors=form.mejorar_comunicacion.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.inseguridad.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.inseguridad.auto_id }}">
                                    {{ form.inseguridad.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">
                                        {{ form.inseguridad }}
                                    </div>
                                    {% include 'base/form.errors.html' with form_errors=form.inseguridad.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.comentario.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.comentario.auto_id }}">
                                    {{ form.comentario.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">
                                        {{ form.comentario }}
                                    </div>
                                    {% include 'base/form.errors.html' with form_errors=form.comentario.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.observacion.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.observacion.auto_id }}">
                                    {{ form.observacion.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">
                                        {{ form.observacion }}
                                    </div>
                                    {% include 'base/form.errors.html' with form_errors=form.observacion.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="box-footer text-right">
                    <a href="{% url 'persona_lista' %}" class="btn btn-primary btn-sm">Atrás</a>
                    <button type="reset" class="btn btn-primary btn-sm" data-toggle="tooltip">{% trans 'Limpiar' %}</button>
                    <button type="submit" class="btn btn-primary btn-sm" data-toggle="tooltip">{% if not form.instance.pk %}{% trans 'Registrar' %}{% else %}{% trans 'Actualizar' %}{% endif %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block extra_footer %}
    <script>
        $(document).ready(function(){
            $('.datepicker').datepicker({
                format: "yyyy-mm-dd",
                language: "es",
                autoclose: true,
                todayHighlight: true,
            });

            //comportamiento del campo tiene_cedula en actualizar
            {% if form.instance.pk %}
                if( $("#id_cedula_1").val().length>0 )
                {
                    $("#id_tiene_cedula").val("S").change();
                }
                else
                {
                    $("#id_tiene_cedula").val("N").change();
                    $("#bloque_cedula").addClass('invisible');
                }
            {% endif %}
        });

        function _tiene_cedula(opcion)
        {
            if( opcion=='N' )
            {
                $("#bloque_cedula").addClass('invisible');
                $("#id_cedula_0").val(null);
                $("#id_cedula_1").val(null);
                $("#id_cedula_1").removeAttr('required');
            }
            else if( opcion=='S' )
            {
                $("#bloque_cedula").removeClass('invisible');
                $("#id_cedula_1").attr('required', 'required');
            }
        }

        function calcular_edad(fecha)
        {
            var dateParts = fecha.split("-");
            var fecha_js = new Date(dateParts[0], dateParts[1] - 1, dateParts[2].substr(0, 2), dateParts[2].substr(3, 2), dateParts[2].substr(6, 2), dateParts[2].substr(9, 2));
            hoy = new Date();
            edad = (hoy-fecha_js)/365/24/60/60/1000;
            $("#id_edad").val(edad.toFixed(0));
        }
    </script>
{% endblock %}
