{% load i18n %}
{% load static from staticfiles %}
<script type="text/javascript">
    /**
     * @brief Sección de variables comúnes
     *
     * @author Ing. Roldan Vargas (roldandvg at gmail.com)
     * @copyright GNU/GPLv2
     * @date 27-04-2016
     */

    /// URL de archivos estáticos
    var URL_STATIC_FILES = "{% static '' %}";

    /// URL para actualizar combos anidados
    var URL_ACTUALIZAR_SELECT = "{% url 'actualizar_combo' %}";

    /// Mensaje de error en peticiones AJAX
    var MSG_PETICION_AJAX_FALLIDA = "{% trans 'Petición fallida. Verifique el error: ' %}";

    /// Texto a mostrar para el botón de agregar registros a un formulario desde una ventana modal
    var BTN_AGREGAR = "{% trans 'Agregar' %}";

    /// Texto a mostrar para el botón de cancelar acción
    var BTN_CANCELAR = "{% trans 'Cancelar' %}";
</script>
