{% load static from staticfiles %}
{% load i18n %}
<script src="{% static 'tools/jQuery/jquery-3.1.1.min.js' %}" type="text/javascript"></script>

<!-- Variables javascript generales -->
<script type="text/javascript">
    /// URL de archivos estáticos
    var URL_STATIC_FILES = "{% static '' %}";

    /// URL para actualizar combos anidados
    var URL_ACTUALIZAR_SELECT = "{% url 'actualizar_combo' %}";

    /// Mensaje de error en peticiones AJAX
    var MSG_PETICION_AJAX_FALLIDA = "{% trans 'Petición fallida. Verifique el error: ' %}";

    /// Texto a mostrar para el botón de agregar registros a un formulario desde una ventana modal
    var BTN_AGREGAR = "{% trans 'Agregar' %}";

    /// Texto a mostrar para el botón de cancelar acción
    var BTN_CANCELAR = "{% trans 'Cancelar' %}";
</script>
<script src="{% static 'tools/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/bootbox-4.4.0/bootbox.min.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/openlayers/ol.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/select2/select2.full.min.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/jquery.mask-1.14.0/jquery.mask.min.js' %}" type="text/javascript"></script>
<!-- AdminLTE App -->
<script src="{% static 'tools/AdminLTE/js/adminlte.min.js' %}"></script>
<script src="{% static 'tools/DataTables-1.10.15/media/js/jquery.dataTables.min.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/DataTables-1.10.15/media/js/dataTables.bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'tools/DataTables-1.10.15/extensions/Responsive/js/dataTables.responsive.min.js' %}" type="text/javascript"></script>
<!-- Formularios de ventanas modales -->
{% include 'base.form.box.html' %}
<script src="{% static 'js/ajax.request.js' %}" type="text/javascript"></script>
<script src="{% static 'js/funciones.js' %}" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function(){
        //muestra los mensajes centrados
        $('[data-toggle="tooltip"]').tooltip();

        //para agregar el select2 en los respectivos campos de tipo select
        $(".select2").select2();
    });
</script>
