{% extends 'base/base.html' %}
{% load i18n %}
{% block content_header_title %}{% trans 'Imagen' %}{% endblock %}
{% block content_header_roadmap %}
    <li><a href="{% url 'vivienda_lista' %}">{% trans 'Vivienda' %}</a></li>
    <li><a href="{% url 'imagen_lista' %}">{% trans 'Imagen' %}</a></li>
    <li class="active">{% trans 'Registro' %}</li>
{% endblock %}
{% block contenido %}
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">{% if not form.instance.pk %}{% trans 'Registrar' %}{% else %}{% trans 'Actualizar' %}{% endif %}</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.vivienda.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.vivienda.auto_id }}">
                                    {{ form.vivienda.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">{{ form.vivienda }}</div>
                                    {% include 'base/form.errors.html' with form_errors=form.vivienda.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group {% if form.archivo_imagen.errors %}has-error{% endif %}">
                                <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.archivo_imagen.auto_id }}">
                                    {{ form.archivo_imagen.label }}
                                </label>
                                <div class="col-md-9 col-xs-9 col-sm-9">
                                    <div class="form-inline">{{ form.archivo_imagen }}</div>
                                    {% include 'base/form.errors.html' with form_errors=form.archivo_imagen.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ form.imagen_base64 }}
                <div class="box-footer text-right">
                    <a href="{% url 'vivienda_lista' %}" class="btn btn-primary btn-sm">Atrás</a>
                    <button type="submit" class="btn btn-primary btn-sm" data-toggle="tooltip">{% trans 'Registrar' %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block extra_footer %}
    <script type="text/javascript">
        /** convierte el archivo de imagen a base64 usando readAsDataURL **/
        function readFile()
        {
            if (this.files && this.files[0])
            {
                var FR= new FileReader();
                FR.addEventListener("load", function(e) {
                    //document.getElementById("img").src       = e.target.result;
                    //document.getElementById("b64").innerHTML = e.target.result;
                    $("#id_imagen_base64").val(e.target.result);
                });
                FR.readAsDataURL( this.files[0] );
              }
        }
        document.getElementById("id_archivo_imagen").addEventListener("change", readFile);
    </script>
{% endblock %}
