{% extends 'base.template.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% block content_header_title %}{% trans 'Vivienda' %}{% endblock %}
{% block contenido %}
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Listar</h3><br>
        </div>

        <div class="box-header">
            <a href="{% url 'vivienda_registro' %}" class="btn btn-success pull-left">Crear</a>
            <a href="{% url 'imagen_registro' %}" class="btn btn-success pull-left">Subir Imagen</a>
        </div>

        <div class="box-body">
            <div class="row box-body table-responsive">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <table class="table table-striped table-hover table-bordered display dataTable blue-table" id="tabla-vivienda" style="width:5050px;">
                        <thead>
                            <tr>
                                <th>Fecha y Hora</th>
                                <th>Tipo del Techo</th>
                                <th>Servicio Eléctrico</th>
                                <th>Situación Sanitaria</th>
                                <th>Disposición de la Basura</th>
                                <th>Tipo de la Vivienda</th>
                                <th>Tipo de la Pared</th>
                                <th>Tipo del Piso</th>
                                <th>Condición de la Vivienda</th>
                                <th>Condición del Techo</th>
                                <th>Condición de la Pared</th>
                                <th>Condición del Piso</th>
                                <th>Condición de la Ventilación</th>
                                <th>Condición de la Iluminación</th>
                                <th>Accesibilidad al Ambulatorio</th>
                                <th>Accesibilidad a la Ecuela</th>
                                <th>Accesibilidad al Liceo</th>
                                <th>Accesibilidad al Centro de Abastecimiento</th>
                                <th>Número de Habitaciones</th>
                                <th>Número de Salas</th>
                                <th>Número de Baños</th>
                                <th>¿Tiene Terreno?</th>
                                <th>¿Riego por Ríos?</th>
                                <th>¿Riego por Quebradas?</th>
                                <th>¿Riego por Derrumbes?</th>
                                <th>¿Riego por Zona Sísmica?</th>
                                <th>¿Qué Animales Tiene?</th>
                                <th>Consejo Comunal</th>
                                <th>Dirección</th>
                                <th>Coordenadas</th>
                                <th>Número de la Vivienda</th>
                                <th>Operación</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for vivienda in object_list %}
                                <tr>
                                <td> {{ vivienda.fecha_hora }} </td>
                                <td> {{ vivienda.get_tipo_techo_display }}</td>
                                <td> {{ vivienda.get_servicio_electrico_display }} </td>
                                <td> {{ vivienda.get_situacion_sanitaria_display }} </td>
                                <td> {{ vivienda.get_disposicion_basura_display }} </td>
                                <td> {{ vivienda.get_tipo_vivienda_display }} </td>

                                {% if vivienda.tipo_pared == 'BL' %}
                                    {% if vivienda.pared_frizada %}
                                        <td title="Frizada: Si"> {{ vivienda.get_tipo_pared_display }} </td>
                                    {% else %}
                                        <td title="Frizada: No"> {{ vivienda.get_tipo_pared_display }} </td>
                                    {% endif %}
                                {% else %}
                                    <td> {{ vivienda.get_tipo_pared_display }} </td>
                                {% endif %}

                                {% if vivienda.tipo_piso == 'CE' %}
                                    <td title="Tipo del Cemento: {{ vivienda.get_tipo_cemento_display }}"> {{ vivienda.get_tipo_piso_display }} </td>
                                {% else %}
                                    <td> {{ vivienda.get_tipo_piso_display }} </td>
                                {% endif %}

                                <td> {{ vivienda.get_condicion_vivienda_display }} </td>
                                <td> {{ vivienda.get_condicion_techo_display }} </td>
                                <td> {{ vivienda.get_condicion_pared_display }} </td>
                                <td> {{ vivienda.get_condicion_piso_display }} </td>
                                <td> {{ vivienda.get_condicion_ventilacion_display }} </td>
                                <td> {{ vivienda.get_condicion_iluminacion_display }} </td>
                                <td> {{ vivienda.get_accesibilidad_ambulatorio_display }} </td>
                                <td> {{ vivienda.get_accesibilidad_escuela_display }} </td>
                                <td> {{ vivienda.get_accesibilidad_liceo_display }} </td>
                                <td> {{ vivienda.get_accesibilidad_centro_abastecimiento_display }} </td>
                                <td> {{ vivienda.numero_habitaciones }} </td>
                                <td> {{ vivienda.numero_salas }} </td>
                                <td> {{ vivienda.numero_banhos }} </td>

                                {% if vivienda.tiene_terreno %}
                                    <td title="Área del Terreno: {{ vivienda.metro_cuadrado }}&#10;Terreno Productivo: {{ vivienda.productivo }}&#10;Por Producir: {{ vivienda.por_producir }}"> Si </td>
                                {% else %}
                                    <td> No </td>
                                {% endif %}

                                {% if vivienda.riesgo_rio %}
                                    <td> Si </td>
                                {% else %}
                                    <td> No </td>
                                {% endif %}

                                {% if vivienda.riesgo_quebrada %}
                                    <td> Si </td>
                                {% else %}
                                    <td> No </td>
                                {% endif %}

                                {% if vivienda.riesgo_derrumbe %}
                                    <td> Si </td>
                                {% else %}
                                    <td> No </td>
                                {% endif %}

                                {% if vivienda.riesgo_zona_sismica %}
                                    <td> Si </td>
                                {% else %}
                                    <td> No </td>
                                {% endif %}

                                <td> {{ vivienda.animales }} </td>

                                <td title="Consejo Comunal, Parroquia, Municipio, Estado"> {{ vivienda.consejo_comunal }}, {{ vivienda.consejo_comunal.parroquia }}, {{ vivienda.consejo_comunal.parroquia.municipio }}, {{ vivienda.consejo_comunal.parroquia.municipio.estado }} </td>

                                <td> {{ vivienda.direccion }} </td>
                                <td> {{ vivienda.coordenadas }} </td>
                                <td> {{ vivienda.numero_vivienda }}-{{ vivienda.id }} </td>

                                <td> <a href="{% url 'vivienda_editar' vivienda.id %}">Editar</a> | <a href="{% url 'vivienda_borrar' vivienda.id %}">Eliminar</a> </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_footer %}
    <script type="text/javascript">
        $(document).ready(function() {
            var tabla= $('#tabla-vivienda').DataTable({
                "language": {
                    "sProcessing":     "Procesando...",
	                "sLengthMenu":     "Mostrar _MENU_ registros",
	                "sZeroRecords":    "No se encontraron resultados",
	                "sEmptyTable":     "Ningún dato disponible en esta tabla",
	                "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
	                "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
	                "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
	                "sInfoPostFix":    "",
	                "sSearch":         "Buscar:",
	                "sUrl":            "",
	                "sInfoThousands":  ",",
	                "sLoadingRecords": "Cargando...",
	                "oPaginate": {
		                "sFirst":    "Primero",
		                "sLast":     "Último",
		                "sNext":     "Siguiente",
		                "sPrevious": "Anterior"
	                },
	                "oAria": {
		                "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
		                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
	                },
                },
                "autoWidth": false,
                "columnDefs": [
                    { "width": "250px", "targets": 0 },
                    { "width": "150px", "targets": 1 },
                    { "width": "150px", "targets": 2 },
                    { "width": "150px", "targets": 3 },
                    { "width": "150px", "targets": 4 },
                    { "width": "150px", "targets": 5 },
                    { "width": "150px", "targets": 6 },
                    { "width": "150px", "targets": 7 },
                    { "width": "150px", "targets": 8 },
                    { "width": "150px", "targets": 9 },
                    { "width": "150px", "targets": 10 },
                    { "width": "150px", "targets": 11 },
                    { "width": "150px", "targets": 12 },
                    { "width": "150px", "targets": 13 },
                    { "width": "150px", "targets": 14 },
                    { "width": "150px", "targets": 15 },
                    { "width": "150px", "targets": 16 },
                    { "width": "150px", "targets": 17 },
                    { "width": "150px", "targets": 18 },
                    { "width": "150px", "targets": 19 },
                    { "width": "150px", "targets": 20 },
                    { "width": "150px", "targets": 21 },
                    { "width": "100px", "targets": 22 },
                    { "width": "100px", "targets": 23 },
                    { "width": "100px", "targets": 24 },
                    { "width": "100px", "targets": 25 },
                    { "width": "250px", "targets": 26 },
                    { "width": "250px", "targets": 27 },
                    { "width": "250px", "targets": 28 },
                    { "width": "250px", "targets": 29 },
                    { "width": "150px", "targets": 30 },
                    { "width": "100px", "targets": 31 },
                ],
            });
        });
    </script>
{% endblock %}
