{% extends 'base/base.html' %}
{% load i18n %}
{% block content_header_title %}{% trans 'Vivienda' %}{% endblock %}
{% block content_header_roadmap %}
  <li><a href="{% url 'living_place:list' %}">{% trans 'Vivienda' %}</a></li>
  <li class="active">{% trans 'Eliminar' %}</li>
{% endblock %}
{% block content %}
<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title">Eliminar</h3>
  </div>
  <div class="box-body">
    <form method="post">
      {% csrf_token %}
      <p>¿Estás seguro que deseas eliminar los datos de la Vivienda "{{ object }}"?</p>
      <div class="box-footer text-right">
        <a href="{% url 'living_place:list' %}" class="btn btn-primary btn-sm">Atrás</a>
        <button type="submit" class="btn btn-danger btn-sm" data-toggle="tooltip">{% trans 'Eliminar' %}</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}