{% extends 'base/base.html' %}
{% load i18n %}
{% block content_header_title %}{% trans 'Grupo Familiar' %}{% endblock %}
{% block content_header_roadmap %}
  <li><a href="{% url 'living_place:list' %}">{% trans 'Vivienda' %}</a></li>
  <li><a href="{% url 'living_place:family_group:list' %}">{% trans 'Grupo Familiar' %}</a></li>
  <li class="active">{% trans 'Eliminar' %}</li>
{% endblock %}
{% block content %}
  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">Eliminar</h3>
    </div>
    <div class="box-body">
      <form method="post">
        {% csrf_token %}
        <p>¿Estás seguro que deseas eliminar los datos del Grupo Familiar "{{ object.family_last_name }}-{{ object.id }}"?</p>
        <div class="box-footer text-right">
          <a href="{% url 'living_place:family_group:list' %}" class="btn btn-primary btn-sm">Atrás</a>
          <button type="submit" class="btn btn-danger btn-sm" data-toggle="tooltip">{% trans 'Eliminar' %}</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}