{% extends 'base.template.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% block contenido %}
    <div class="container"> <!-- container -->
        <div class="row">
            <h3>Gestionar los datos de las Viviendas</h3>
        </div>

        <div class="row">
            <p><a href="{% url 'vivienda_registro' %}" class="btn btn-success">Crear</a>
            <a href="{% url 'imagen_registro' %}" class="btn btn-success">Crear Imagen</a></p>
        </div>

        <div class="row" style="overflow:scroll;height:500px;">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Encuestador</th>
                        <th>Fecha y Hora</th>
                        <th>Tipo del Techo</th>
                        <th>Servicio Eléctrico</th>
                        <th>Situación Sanitaria</th>
                        <th>Disposición de la Basura</th>
                        <th>Tipo de la Vivienda</th>
                        <th>Tipo de la Pared</th>
                        <th>Tipo del del Piso</th>
                        <th>Condición de la Vivienda</th>
                        <th>Condición del Techo</th>
                        <th>Condición de la Pared</th>
                        <th>Condición del Piso</th>
                        <th>Condición de la Ventilación</th>
                        <th>Condición de la Iluminación</th>
                        <th>Accesibilidad al Ambulatorio</th>
                        <th>Accesibilidad a la Ecuela</th>
                        <th>Accesibilidad al Liceo</th>
                        <th>Accesibilidad al Centro de Abastecimiento</th>
                        <th>Número de Habitaciones</th>
                        <th>Número de Salas</th>
                        <th>Número de Baños</th>
                        <th>¿Tiene Terreno?</th>
                        <th>¿Riego por Ríos?</th>
                        <th>¿Riego por Quebradas?</th>
                        <th>¿Riego por Derrumbes?</th>
                        <th>¿Riego por Zona Sísmica?</th>
                        <th>¿Qué Animales Tiene?</th>
                        <th>Consejo Comunal</th>
                        <th>Dirección</th>
                        <th>Número de la Vivienda</th>
                        <th>Operación</th>
                    </tr>
                </thead>
                <tbody>
                    {% for vivienda in object_list %}
                        <tr>
                        <td> {{ vivienda.encuestador.nombre }} {{ vivienda.encuestador.apellido }} </td>
                        <td> {{ vivienda.fecha_hora }} </td>
                        <td> {{ vivienda.get_tipo_techo_display }}</td>
                        <td> {{ vivienda.get_servicio_electrico_display }} </td>
                        <td> {{ vivienda.get_situacion_sanitaria_display }} </td>
                        <td> {{ vivienda.get_disposicion_basura_display }} </td>
                        <td> {{ vivienda.get_tipo_vivienda_display }} </td>

                        {% if vivienda.tipo_pared == 'BL' %}
                            {% if vivienda.pared_frizada %}
                                <td title="Frizada: Si"> {{ vivienda.get_tipo_pared_display }} </td>
                            {% else %}
                                <td title="Frizada: No"> {{ vivienda.get_tipo_pared_display }} </td>
                            {% endif %}
                        {% else %}
                            <td> {{ vivienda.get_tipo_pared_display }} </td>
                        {% endif %}

                        {% if vivienda.tipo_piso == 'CE' %}
                            <td title="Tipo del Cemento: {{ vivienda.get_tipo_cemento_display }}"> {{ vivienda.get_tipo_piso_display }} </td>
                        {% else %}
                            <td> {{ vivienda.get_tipo_piso_display }} </td>
                        {% endif %}

                        <td> {{ vivienda.get_condicion_vivienda_display }} </td>
                        <td> {{ vivienda.get_condicion_techo_display }} </td>
                        <td> {{ vivienda.get_condicion_pared_display }} </td>
                        <td> {{ vivienda.get_condicion_piso_display }} </td>
                        <td> {{ vivienda.get_condicion_ventilacion_display }} </td>
                        <td> {{ vivienda.get_condicion_iluminacion_display }} </td>
                        <td> {{ vivienda.get_accesibilidad_ambulatorio_display }} </td>
                        <td> {{ vivienda.get_accesibilidad_escuela_display }} </td>
                        <td> {{ vivienda.get_accesibilidad_liceo_display }} </td>
                        <td> {{ vivienda.get_accesibilidad_centro_abastecimiento_display }} </td>
                        <td> {{ vivienda.numero_habitaciones }} </td>
                        <td> {{ vivienda.numero_salas }} </td>
                        <td> {{ vivienda.numero_banhos }} </td>

                        {% if vivienda.tiene_terreno %}
                            <td title="Área del Terreno: {{ vivienda.metro_cuadrado }}&#10;Terreno Productivo: {{ vivienda.productivo }}&#10;Por Producir: {{ vivienda.por_producir }}"> Si </td>
                        {% else %}
                            <td> No </td>
                        {% endif %}

                        {% if vivienda.riesgo_rio %}
                            <td> Si </td>
                        {% else %}
                            <td> No </td>
                        {% endif %}

                        {% if vivienda.riesgo_quebrada %}
                            <td> Si </td>
                        {% else %}
                            <td> No </td>
                        {% endif %}

                        {% if vivienda.riesgo_derrumbe %}
                            <td> Si </td>
                        {% else %}
                            <td> No </td>
                        {% endif %}

                        {% if vivienda.riesgo_zona_sismica %}
                            <td> Si </td>
                        {% else %}
                            <td> No </td>
                        {% endif %}

                        <td> {{ vivienda.get_animales_display }} </td>

                        <td title="Estado: {{ vivienda.consejo_comunal.parroquia.municipio.estado }}&#10;Municipio: {{ vivienda.consejo_comunal.parroquia.municipio }}&#10;Parroquia: {{ vivienda.consejo_comunal.parroquia }}"> {{ vivienda.consejo_comunal }} </td>

                        <td> {{ vivienda.direccion }} </td>
                        <td> {{ vivienda.numero_vivienda }} </td>

                        <td> <a href="{% url 'vivienda_editar' vivienda.id %}">Editar</a> | <a href="{% url 'vivienda_borrar' vivienda.id %}">Eliminar</a> | <a href="{% url 'ver_imagen' vivienda.id %}">Ver Imágenes</a> </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="box-footer text-right">
            <a href="{% url 'encuestador_lista' %}" class="btn btn-primary btn-sm">Atrás</a>
            <a href="{% url 'grupo_familiar_lista' %}" class="btn btn-primary btn-sm">Siguiente</a>
        </div><br>
    </div> <!-- end container -->
{% endblock %}
