{% extends 'base/base.html' %}
{% load i18n %}
{% block content_header_title %}{% trans 'Usuario' %}{% endblock %}
{% block content_header_roadmap %}
    <li>{% trans 'Usuario' %}</li>
    <li>{% trans 'Encuestador' %}</li>
    <li class="active">{% trans 'Estatus del Usuario' %}</li>
{% endblock %}
{% block contenido %}
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Estatus del Usuario</h3>
        </div>
        <div class="box-body">
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="form-group {% if form.is_active.errors %}has-error{% endif %}">
                            <label class="col-md-3 col-xs-3 col-sm-3 control-label" for="{{ form.is_active.auto_id }}">
                                {{ form.is_active.label }}
                            </label>
                            <div class="col-md-9 col-xs-9 col-sm-9">
                                <div class="form-inline">{{ form.is_active }}</div>
                                {% include 'base/form.errors.html' with form_errors=form.is_active.errors col_title_error='col-sm-2' col_msg_error='col-sm-10' %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer text-right">
                    <a href="{% url 'usuario:pollster_list' %}" class="btn btn-primary btn-sm">Atrás</a>
                    <button type="reset" class="btn btn-primary btn-sm" data-toggle="tooltip">{% trans 'Limpiar' %}</button>
                    <button type="submit" class="btn btn-primary btn-sm" data-toggle="tooltip">{% trans 'Actualizar' %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
