{% extends 'base.template.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% block content_header_title %}{% trans 'Reporte de Usuarios' %}{% endblock %}
{% block content_header_roadmap %}
    <li class="active">{% trans 'Reporte' %}</li>
{% endblock %}
{% block contenido %}
    <div class="box box-info">
        <div class="box-body">
            <div class="row box-body table-responsive">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <table class="table table-striped table-hover table-bordered blue-table display dataTable" id="reporte" style="width:2100px;">
                        <thead>
                            <tr>
                                <th>{% trans 'Nombre de Usuario' %}</th>
                                <th>{% trans 'Nombre' %}</th>
                                <th>{% trans 'Apellido' %}</th>
                                <th>{% trans 'Cédula' %}</th>
                                <th>{% trans 'Correo' %}</th>
                                <th>{% trans 'Teléfono' %}</th>
                                <th>{% trans 'Consejo Comunal' %}</th>
                                <th>{% trans 'Número de Personas' %}</th>
                                <th>{% trans 'Número de Grupos Familiares' %}</th>
                                <th>{% trans 'Números de Viviendas' %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for value in reporte_usuario %}
                                <tr>
                                    <td>{{ value.0 }}</td>
                                    <td>{{ value.1 }}</td>
                                    <td>{{ value.2 }}</td>
                                    <td>{{ value.3 }}</td>
                                    <td>{{ value.4 }}</td>
                                    <td>{{ value.5 }}</td>
                                    <td>{{ value.6 }}</td>
                                    <td>{{ value.7 }}</td>
                                    <td>{{ value.8 }}</td>
                                    <td>{{ value.9 }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="box-footer text-right">
            <a href="{% url 'admin:index' %}" class="btn btn-info btn-sm" data-toggle="tooltip"
               title="{% trans 'Presione para regresar al panel administrativo' %}">
                {% trans 'Panel Administrativo' %}
            </a>
        </div>
    </div>
{% endblock %}
{% block extra_footer %}
    <script type="text/javascript">
        $(document).ready(function() {
            var tabla= $('#reporte').DataTable({
                "language": {
                  "sProcessing":     "Procesando...",
	                "sLengthMenu":     "Mostrar _MENU_ registros",
	                "sZeroRecords":    "No se encontraron resultados",
	                "sEmptyTable":     "Ningún dato disponible en esta tabla",
	                "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
	                "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
	                "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
	                "sInfoPostFix":    "",
	                "sSearch":         "Buscar:",
	                "sUrl":            "",
	                "sInfoThousands":  ",",
	                "sLoadingRecords": "Cargando...",
	                "oPaginate": {
		                "sFirst":    "Primero",
		                "sLast":     "Último",
		                "sNext":     "Siguiente",
		                "sPrevious": "Anterior"
	                },
	                "oAria": {
		                "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
		                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
	                },
                },
                "autoWidth": false,
                "columnDefs": [
                    { "width": "200px", "targets": 0 },
                    { "width": "250px", "targets": 1 },
                    { "width": "250px", "targets": 2 },
                    { "width": "150px", "targets": 3 },
                    { "width": "250px", "targets": 4 },
                    { "width": "250px", "targets": 5 },
                    { "width": "300px", "targets": 6 },
                    { "width": "150px", "targets": 7 },
                    { "width": "150px", "targets": 8 },
                    { "width": "150px", "targets": 9 },
                ],
            });
        });
    </script>
{% endblock %}
