{% load static from staticfiles %}
{% load i18n %}
<head>
	<meta charset="UTF-8">
	<title>Sistema Integrado de Información y Documentación Geoestadística y Tecnopolítica (SIGETP)</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <meta name="description" content="Sistema Integrado de Información y Documentación Geoestadística y Tecnopolítica (SIGETP)">
    <meta name="author" content="William Páez (wpaez at cenditel.gob.ve)">
    <meta name="author" content="Centro Nacional de Desarrollo e Investigación en Tecnologías Libres (CENDITEL)">
	<meta name="author" content="Centro de Investigaciones de Astronomía 'Francisco J. Duarte' (CIDA)">
	<link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'node_modules/font-awesome/css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'node_modules/ionicons/dist/css/ionicons.min.css' %}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'tools/AdminLTE/css/AdminLTE.min.css' %}">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="{% static 'tools/AdminLTE/css/skins/_all-skins.min.css' %}">

    <!-- se comenta cuando no hay internet -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'tools/openlayers/ol.css' %}">
	<link rel="stylesheet" href="{% static 'node_modules/select2/dist/css/select2.min.css' %}">
	<link rel="stylesheet" href="{% static 'node_modules/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}">
  	<link rel="stylesheet" href="{% static 'node_modules/datatables.net-bs/css/dataTables.bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css' %}">
    {% block extra_head %}

    {% endblock %}
</head>
