{% extends 'base.template.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% block contenido %}
    <div class="container"> <!-- container -->
        <form method="post">
            {% csrf_token %}
            <div class="box box-primary">
                <div class="box-body">
                    <h4 class="box-title">
                        <i class="glyphicon glyphicon-edit"></i>&#160;{% trans 'Encuestador' %}
                    </h4>
                    <hr/>
                    <p>¿Estás seguro que deseas borrar al Encuestador "{{ object.nombre }} {{ object.apellido }}"?</p>
                </div>
                <div class="box-footer text-right">
                    <a href="{% url 'encuestador_lista' %}" class="btn btn-primary btn-sm">Atrás</a>
                    <button type="submit" class="btn btn-danger btn-sm" data-toggle="tooltip">{% trans 'Eliminar' %}</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
